!!!
%html
  %head
    %title Automated Surveys
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    = javascript_include_tag 'application'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand(href="/") <i class="fa fa-th-list"></i> Automated Surveys
          %button.navbar-toggle(type="button"){data: { toggle: "collapse", target: "#navbar-main" }}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
    .container
      = yield

    %footer.container
      Made with <i class="fa fa-heart"></i> by your pals <a href="http://www.twilio.com">@twilio</a>

    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
